In [6]:
import pandas as pd
from pathlib import Path

csv_path = Path.cwd().parent / 'csv_files' / 'nba.csv'

df = pd.read_csv(csv_path)
# removing rows with null or NAN values
df.dropna(how="any")

c:\Users\sreed\skonduru\work\pynotebooks\pandasdf\csv_files\nba.csv

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [22]:
df.sort_values(by=["Team"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
317,Lamar Patterson,Atlanta Hawks,13,SG,24,5-Jun,225,Pittsburgh,525093.0
309,Kent Bazemore,Atlanta Hawks,24,SF,26,5-Jun,201,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,6-Jun,205,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35,4-Jun,190,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
371,Jarell Eddie,Washington Wizards,8,SG,24,7-Jun,218,Virginia Tech,561716.0
369,Bradley Beal,Washington Wizards,3,SG,22,5-Jun,207,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
382,John Wall,Washington Wizards,2,PG,25,4-Jun,195,Kentucky,15851950.0
370,Jared Dudley,Washington Wizards,1,SF,30,7-Jun,225,Boston College,4375000.0

In [25]:
df_team = df.groupby(['Team']).ngroups  # number of groups

df_team = df.groupby(['Team']).groups.keys() # return groups name with indexes
df_team
df_team_by_name = df.groupby('Team').get_group('Phoenix Suns')
df_team_by_name

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
121,Eric Bledsoe,Phoenix Suns,2,PG,26,1-Jun,190,Kentucky,13500000.0
122,Devin Booker,Phoenix Suns,1,SG,19,6-Jun,206,Kentucky,2127840.0
123,Chase Budinger,Phoenix Suns,10,SF,28,7-Jun,209,Arizona,206192.0
124,Tyson Chandler,Phoenix Suns,4,C,33,1-Jul,240,NaN,13000000.0
125,Archie Goodwin,Phoenix Suns,20,SG,21,5-Jun,200,Kentucky,1160160.0
126,John Jenkins,Phoenix Suns,23,SG,25,4-Jun,215,Vanderbilt,981348.0
127,Brandon Knight,Phoenix Suns,3,PG,24,3-Jun,189,Kentucky,13500000.0
128,Alex Len,Phoenix Suns,21,C,22,1-Jul,260,Maryland,3807120.0
129,Jon Leuer,Phoenix Suns,30,PF,27,10-Jun,228,Wisconsin,1035000.0
130,Phil Pressey,Phoenix Suns,25,PG,25,11-May,175,Missouri,55722.0
131,Ronnie Price,Phoenix Suns,14,PG,32,2-Jun,190,Utah Valley,947276.0
132,Mirza Teletovic,Phoenix Suns,35,PF,30,9-Jun,242,NaN,5500000.0
133,P.J. Tucker,Phoenix Suns,17,SF,31,6-Jun,245,Texas,5500000.0
134,T.J. Warren,Phoenix Suns,12,SF,22,8-Jun,230,North Carolina State,2041080.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0